p {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}
p.important {
    font-size: 1.5em;
    font-weight: 900;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}
.typewriter {
    font-family: "Courier New", Courier, monospace;
}
.emphasized {
    font-style: italic;
}
.standout {
    color: red;
}
p.spacey {
    letter-spacing: 1em;
    word-spacing: 1em;
    line-height: 2.4em;
}
h3 {
    text-align: center;
}
p.pretty {
    text-align: justify;
}
p.tabbed {
    text-indent: 1.5em;
}
blockquote {
    font-size: .9em;
    color: grey;
}